.logo-slogan{
    margin-top : 70px;
}

.container{
    width : 80%;
}

.title-pizza{
    color : orange;
    text-align : center;
    margin-top : 20px;
}

hr{
    width : 30%;
    height : 2px;
    background-color : orange;
}

.salient-features > .col-sm{
    border : 1px solid orange;
    padding : 15px;
}

.card{
    margin-right : auto;
}

.card-header{
    
    background-color : orange;
}
.sizePizza{
    text-align: center;
}

#footer{
    text-align : center;
}

